* {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* making top nav in the right corner */

.top-nav ul, li {
    display: flex;
    padding: 0 1.3rem;
    justify-content: flex-end;
    font-size: 15px;
}

.top-nav {
    width: 93%;
    margin-top: 1rem;
}


a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}

.tel-number-link span {
    font-size: 0.93em;
    color: blue;
    margin-left: 0.5rem;
}

/* working on the header right now */

header {
    height: 4.5rem;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: black;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

header h1 {
    margin: 0 3.5rem;
    font-size: 2.4rem;
    font-size-adjust: 0.5;
}

header h1 a {
    color: yellow;
}

header h1 span {
    color: white;
}
.search-input {
    display: flex;
}

.search-input button {
    background-color: yellow;
    border: 0;
    width: 3rem;
}

.search-input input {
    width: 31rem;
    height: 3rem;
    border: 1px;
    font-size: 1rem;
    border-right: 0;
    border-color: rgb(0, 0, 0);
    border-radius: 0;
}

.search-input input:focus, textarea:focus {
    outline: none !important;     
    border: 0;
}

.material-symbols-outlined {
    color: yellow;
}

.nav-text {
    color: white;
    font-weight: 20;
}